
.bodybg{

	margin:0;
	padding:0;
	width: 960px;
  height: 3000px;
  
    margin:0 auto;
    background-color: #f7f7f8;
    position: relative;
    border-top: 20px solid #f7f7f8;
    transition-duration: 0.199s;
    transition-timing-function: ease-out;

}




#top-row{

	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: flex-start;
	margin-top: 30px;


}

#menu_toggle{

  font-size: 30px;
  color: grey;
  cursor: pointer;


}

#bottom-image{
    
    display:inline-block;

margin-top: -20px;
   box-shadow: 0px 0px 4px 0px #CCC;

	
	-webkit-filter: saturate(50%);
	
}

#contactnsearch{

  margin-top:2px;
  color: grey;
  clear:both;

}


.menubar{

  background-color: darkgrey;
  opacity:0.5;
  width:960px;
  height: 50px;
  clear:both;
  margin-top:-67px;
  position:absolute;
  float:left;
  margin-left: 0;
 

}


.menubar-items li{

  float:left;
  margin-left: 20px;
  padding: 20px;
  list-style-type: none;
  color: ghostwhite;
  font-family: ubuntu , sans-serif;
}

#paragraph{

	 padding-right: 20px;
	 padding-left: 20px;
   font-family: ubuntu,sans-serif;
}

p{

  font-size: 20px;
  color: black;



}




h2{

   font-family: 'Allura', cursive;
   font-size: 44px;
   background: -webkit-linear-gradient(#be2c2c, #e4c061);
   text-shadow: 0 0 3px 6px black ;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
           background-clip: text;
           text-fill-color: transparent;
 text-align: center;
 margin-left: -25px;
 margin-top: -10px; 
 clear: both;     
  
	
}

h5{
   font-family: 'Parisienne', cursive;
   font-size: 15px;
   color: black;
   text-align: center;
   margin-left: -25px;
   margin-top: -40px;
 

}
/*
hr{
	width:200px;
	margin-left: 38%;
	

}*/

.image{

    display: block;
    max-width: 50%;
    max-height: 50%;
    margin-right: 3px;
    margin-bottom: 3px; 
}


.thumbnails{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.sidebar{

  position: fixed;
  top: 0;
  right: 0;
  left: -220px;
  bottom: 0;
  z-index: 0;
  width: 150px;
  padding: 30px;
  background-color: #333;
  clear:both;
  transition-duration: 0.199s;
  transition-timing-function: ease-out;
}

.sidebar li{

  color: rgba(255,255,255,0.8);
  list-style-type: none;
  font-family: ubuntu,sans-serif;
  font-size: 15px;
  margin-left: -32px;
  margin-bottom: 18px;
  -webkit-font-smoothing: antialiased;


}


.sidebar li:hover{

  cursor: pointer;
  color: rgba(255,255,255,1);
}


#sidebartoggler{

  display:none;
}

#sidebartoggler:checked + .bodybg .sidebar{
  
  left: 0;

}


#sidebartoggler:checked + .bodybg{

  margin-left: 290px;
      transition-duration: 0.199s;
    transition-timing-function: ease-out;

}










