
.bodybg{

	margin:0;
	padding:0;
	width: 70%;
  
  
  
    margin:0 auto;
    background-color: #fff8f8;
    position: relative;
    border-top: 20px solid #fff8f8;
    transition-duration: 0.199s;
    transition-timing-function: ease-out;

}




.top-row{

	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: flex-start;
	margin-top: 30px;


}

#menu_toggle{

  font-size: 30px;
  color: dimgrey;
  cursor: pointer;


}
 
#bottom-image{
    
    display:inline-block;

margin-top: -20px;
   box-shadow: 0px 0px 4px 0px #CCC;

	
	-webkit-filter: saturate(50%);
	
}

#contactnsearch{

  margin-top:2px;
  color: dimgrey;
  clear:both;

}


.menubar{

  background-color: #00063f;
  opacity:0.5;
  width:100%;
  height: 50px;
  clear:both;
  margin-top: -67px;
  position:absolute;
  float:left;
  margin-left: 0;
  box-shadow: 0px 0px 4px 0px #CCC;
 

}


.menubar ul{margin-left: -20px;}



.menubar-items li{

  float:left;
  
  margin-top: -16px;
  list-style-type: none;
 
 font-family: 'Titillium Web', sans-serif;
}

.menubar .menubar-items li a{

  padding : 13px 19px;
  display: block;
  text-decoration: none;
  border-right: 2px solid grey;
  cursor: pointer;
  color: ghostwhite;
}

.menubar .menubar-items li:last-child a{

  border-right: none;

}

.menubar .menubar-items a:hover{

  background-color: #505586;
  }


.contacticons li {

  float:right;
    margin-top: -17px;
    display: block;
    
  list-style-type: none;
   padding : 15px 19px;
   

}

.contacticons a{

  text-decoration: none;
  color: white;
  font-size: 25px;
  cursor: pointer;

}

.contacticons a:hover{

  color: grey;
}



#paragraph p{

	 padding-right: 20px;
	 padding-left: 20px;
   font-family: 'Titillium Web', sans-serif;
   font-size: 15px;
}

p{

  font-size: 20px;
  color: black;



}




h2{

   font-family: 'Allura', cursive;
   font-size: 44px;
   background: -webkit-linear-gradient(#d93c77, #e4c061);
   text-shadow: 0 0 3px 6px black ;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
           background-clip: text;
           text-fill-color: transparent;
 text-align: center;
 margin-left: -25px;
 margin-top: -10px; 
 clear: both;     
  
	
}

h3{

   font-family: 'Titillium Web', sans-serif;
   font-size: 18px;
   
   padding-left: 30px;
   color: ghostwhite;
   


 }

 #headingh3{

   width: 100%;
   height: 50px;
   line-height: 45px;
   background-color: #00063f;
   margin-top: 40px;
   opacity: 0.5;
   
   
   

}

h5{
   font-family: 'Parisienne', cursive;
   font-size: 15px;
   color: black;
   text-align: center;
   margin-left: -25px;
   margin-top: -40px;
 

}
/*
hr{
	width:200px;
	margin-left: 38%;
	

}*/




.thumbnails-image{

 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  clear: both;
  background-color: lavenderblush;
  margin-bottom: 40px;
  
  


  
}

.top3imagemargin{

  margin-top: 20px;
}

.image{

  width: 250px;
  height: 240px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background-size: cover;
  box-shadow: 0px 0px 4px 2px #CCC;
  
}

.image img{
  
  width: auto;
  height: auto;
  
}

.adv{

  waidth: 30%;
  float: right;
  height: 300px;
  background-color: honeydew;
  display: inline-block;
  position: relative;
  margin-top: 10px;
}

.sidebar{

  position: fixed;
  top: 0;
  right: 0;
  left: -220px;
  bottom: 0;
  z-index: 0;
  width: 150px;
  padding: 30px;
  background-color: #7276a2;

  
  clear:both;
  transition-duration: 0.199s;
  transition-timing-function: ease-out;
}

.sidebar li{

  color: ghostwhite;
  list-style-type: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  margin-left: -32px;
  margin-bottom: 18px;
  -webkit-font-smoothing: antialiased;


}


.sidebar li:hover{

  cursor: pointer;
  color: grey;
}


#sidebartoggler{

  display:none;
}

#sidebartoggler:checked + .bodybg .sidebar{

  left: 0;

}


#sidebartoggler:checked + .bodybg{

  margin-left: 290px;
      transition-duration: 0.199s;
    transition-timing-function: ease-out;

}

hr{

  width: 70%;

}

.bottombar{

  width: 60%;
  height: 50px;
  line-height: 45px;
  background-color: #00063f;
  opacity: 0.5;
  margin-top: -40px;
 
  
  
 
  
}

.trending_images{
  
  
  width: 60%;
  background-color: linen;


}

.image_trend{



  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 10px;


}

.image_trend img{

  width: auto;
  height: auto;
  box-shadow: 0px 0px 4px 2px #CCC;


}

.image_trend img:first-child{

  margin-top: 10px;
}





.span_trend{

  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  
  position: relative;
  left: 149px;

  top: -34px;
  
}

.span_trend a{

  text-decoration: none;
  color: black;
}


#trending_vlogs{

  float:right;
  position: relative;
  right:0;
  top: -520px;
  width: 38%;
  height: 50px;
  line-height: 13px;
  background-color: #00063f;
  opacity: 0.5;
  
}

.vlog_body{

  width: 38%;
  background-color: linen;
  position: relative;
  float:right;
  right: -38%;
  top: -470px;


}

iframe{

  margin-top: 10px;
  margin-left: calc(50% - 103px);
}

iframe:last-child{

  margin-bottom: 10px;
}

#article{

  font-family: 'Allura',sans-serif;
  color: black;
  font-weight: bold;
  clear:both;
}

#article p{

  font-family: 'Allura',sans-serif;
  font-size: 15px;
  color: black;
}
.footer_bar{

  width: 100%;
  margin-top: 52px;
  background-color: peachpuff;
  height: 70px;
}
#rulebottom{clear:both;margin-top: -100px;}

.footer_bar span{

  display:inline-block;
  margin-top: 20px;
  margin-left: 0px;
  font-size: 14px;
  font-family:'Titillium Web', sans-serif;
  color: black;
}

.footer_bar span a{

  text-decoration: none;
  color: black;
  font-weight: bold;
}


#clientsheading{

   width: 100%;
   height: 50px;
   line-height: 45px;
   background-color: #00063f;
   margin-top: 50px;
   opacity: 0.5;
   clear: both;
  
}

.ads{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;


}

.ads img{
   
  margin-top: 30px;
  display: inline-block;
}

.ads img:nth-child(2){

  margin-top: 70px;
}